<div id="userRank" class="tile box_1_1"></div>
<div id="" class="tile box_1_1"></div>
<div id="" class="tile box_1_1"></div>
<div id="userContributions" class="tile box_3_1"></div>
<div id="" class="tile box_1_2"></div>
<div id="" class="tile box_2_1"></div>
<div id="" class="tile box_2_1"></div>