.tile {
    background-color: #fffff7;
    box-shadow: 3px 3px 30px #eeeeee;
    margin: 3px;
    float: left;
}
.box_1_1 {
    width: 300px;
    height: 300px;
}
.box_3_1 {
    width: 900px;
    height: 300px;
}

h3 {
    margin: 0;
    text-align: center;
}
#visualizers {
    text-align: center;
    width: 920 px;
    margin: 0 auto;
}
body {
    text-align: center;
    margin: 0;
    width: 100%;
    font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}