.tile {
    background-color: #fffff7;
    box-shadow: 3px 3px 30px #eeeeee;
    margin: 3px;
    float: left;
}
.box_1_1 {
    width: 300px;
    height: 300px;
}
.box_2_1 {
    width: 600px;
    height: 300px;
}
.box_3_1 {
    width: 900px;
    height: 300px;
}

h3 {
    margin: 0;
    text-align: center;
}
#visualizers {
    text-align: center;
    width: 920 px;
    margin: 0 auto;
}
body {
    text-align: center;
    margin: 0;
    width: 100%;
    font: 10px sans-serif;
}


/* visualizer specific */

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bar {
    fill: steelblue;
}
.x.axis path {
    display: none;
}

#pairingRate .pairing.true {
    fill: steelblue;
}
#pairingRate .pairing.false {
    fill: indianred;
}

#userRank {
    vertical-align: middle;
}
#userRank .content {
    margin-top: 20px;
}
#userRank p {
    margin: 0 0 0 0;
    vertical-align: middle;
}
#userRank p.info {
    font-size: 90px;
    margin-bottom: 20px;
    color: steelblue;
}
#userRank span {
    font-weight: bold;
}
#userRank .added {
    color: green;
}
#userRank .removed {
    color: crimson;
}